
	<!-- body-content-section - start
		================================================== -->
		<section id="body-content-section" class="body-content-section sec-ptb-100 clearfix">
                <div class="container">
    
                    <div class="category-tab mb-30">
                        <div class="tab-content">
                            <div id="smartphones-tab-2" class="tab-pane active">
                                <div class="image-container d-none d-sm-block">
                                    <div class="category-img-container">
                                        <img src="assets/images/category/img_2.jpg" alt="image_not_found">
                                        <img class="new-icon" src="assets/images/icons/actie.png" alt="image_not_found">
                                        <a class="btn btn-category" href="#">Bekijk onze Smartphones <i class="fas fa-caret-right"></i></a>
                                    </div>
                                </div>
                                <!-- for small screen -->
                                <a href="#!" class="image-container d-sm-none">
                                    <img src="assets/images/category/img_2.jpg" alt="image_not_found">
                                </a>
                            </div>
    
                            <div id="accessories-tab-2" class="tab-pane fade">
                                <a href="#!" class="image-container">
                                    <img src="assets/images/category/img_2.jpg" alt="image_not_found">
                                </a>
                            </div>
    
                            <div id="media-tab-2" class="tab-pane fade">
                                <a href="#!" class="image-container">
                                    <img src="assets/images/category/img_2.jpg" alt="image_not_found">
                                </a>
                            </div>
    
                            <div id="gaming-tab-2" class="tab-pane fade">
                                <a href="#!" class="image-container">
                                    <img src="assets/images/category/img_2.jpg" alt="image_not_found">
                                </a>
                            </div>
    
                            <div id="sport-tab-2" class="tab-pane fade">
                                <a href="#!" class="image-container">
                                    <img src="assets/images/category/img_2.jpg" alt="image_not_found">
                                </a>
                            </div>
                        </div>
    
                        <div class="categorien-tab-menu">
                            <ul class="nav" role="tablist">
                                <li>
                                    <a class="active" data-toggle="tab" href="#smartphones-tab-2">Smartphones</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#accessories-tab-2">ACCESSOIRES</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#media-tab-2">AANBIEDINGEN</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#gaming-tab-2">APPLE</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#sport-tab-2">ANDROID</a>
                                </li>
                            </ul>
                        </div>
                    </div>
    
                    <div class="advertisement-section">
                        <div class="row">
    
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="advertisement-item-big mb-30 d-none d-sm-block">
                                    <img src="assets/images/advertisement/img_12-1.png" alt="image_not_found">
                                    <a class="btn custom-btn-lg" href="">Bekijk deze annbieding <i class="fas fa-caret-right"></i></a>
                                </div>
                                <a href="#" class="mb-30 d-sm-none">
                                    <img src="assets/images/advertisement/img_12-1.png" alt="image_not_found">
                                </a>
                            </div>
    
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="advertisement-item-big mb-30 d-none d-sm-block">
                                    <img src="assets/images/advertisement/img_13-1.png" alt="image_not_found">
                                    <a class="btn custom-btn-lg" href="">Bekijk deze annbieding <i class="fas fa-caret-right"></i></a>
                                </div>
                                <a href="#" class="mb-30 d-sm-none">
                                    <img src="assets/images/advertisement/img_13-1.png" alt="image_not_found">
                                </a>
                            </div>
    
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="brand-list ul-li mb-15 clearfix">
                                <ul class="clearfix">
                                    <li><a href="#!"><img src="assets/images/brand/img_1.png" alt="logo_not_found"></a></li>
                                    <li><a href="#!"><img src="assets/images/brand/img_2.png" alt="logo_not_found"></a></li>
                                    <li><a href="#!"><img src="assets/images/brand/img_3.png" alt="logo_not_found"></a></li>
                                    <li><a href="#!"><img src="assets/images/brand/img_4.png" alt="logo_not_found"></a></li>
                                    <li><a href="#!"><img src="assets/images/brand/img_5.png" alt="logo_not_found"></a></li>
                                    <li><a href="#!"><img src="assets/images/brand/img_6.png" alt="logo_not_found"></a></li>
                                    <li><a href="#!"><img src="assets/images/brand/img_7.png" alt="logo_not_found"></a></li>
                                    <li><a href="#!"><img src="assets/images/brand/img_8.png" alt="logo_not_found"></a></li>
                                    <li><a href="#!"><img src="assets/images/brand/img_9.png" alt="logo_not_found"></a></li>
                                    <li><a href="#!"><img src="assets/images/brand/img_10.png" alt="logo_not_found"></a></li>
                                    <li><a href="#!"><img src="assets/images/brand/img_11.png" alt="logo_not_found"></a></li>
                                    <li><a href="#!"><img src="assets/images/brand/img_12.png" alt="logo_not_found"></a></li>
                                    <li><a href="#!"><img src="assets/images/brand/img_13.png" alt="logo_not_found"></a></li>
                                    <li><a href="#!"><img src="assets/images/brand/img_14.png" alt="logo_not_found"></a></li>
                                    <li><a href="#!"><img src="assets/images/brand/img_15.png" alt="logo_not_found"></a></li>
                                    <li><a href="#!"><img src="assets/images/brand/img_16.png" alt="logo_not_found"></a></li>
                                    <li><a href="#!"><img src="assets/images/brand/img_17.png" alt="logo_not_found"></a></li>
                                    <li><a href="#!"><img src="assets/images/brand/img_18.png" alt="logo_not_found"></a></li>
                                </ul>
                            </div>
                            <div class="advertisement-section text-center">
                                <a href="#!" class="advertisement-item-small mb-15">
                                    <img src="assets/images/advertisement/img_8.png" alt="image_not_found">
                                </a>
                            </div>
                        </div>
    
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="top-product-item text-center mt-0 mb-15">
                                <a href="#!" class="image-container">
                                    <img src="assets/images/top_products/img_1.jpg" alt="image_not_found">
                                    <span class="item-badge">350,-</span>
                                </a>
                                <div class="item-content">
                                    <h3 class="item-title">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    </h3>
                                    <a href="#!" class="hidden-text">Lorem ipsum dolor sit amet,</a>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="advertisement-section mb-15">
                                    <div class="small-img-container mx-auto">
                                        <img src="assets/images/advertisement/img_4.png" alt="image_not_found">
                                        <a class="btn custom-btn-sm" href="#">ACTIE <i class="fas fa-caret-right"></i></a>
                                    </div>
                            </div>
                            <div class="advertisement-section mb-15">
                                    <div class="small-img-container-2 mx-auto">
                                        <img src="assets/images/advertisement/img_5.png" alt="image_not_found">
                                        <a class="btn custom-btn-sm-2" href="#"><i class="fas fa-caret-right"></i></a>
                                    </div>
                            </div>
                        </div>
    
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="top-product-item text-center">
                                <a href="#!" class="image-container">
                                    <img src="assets/images/top_products/img_1.jpg" alt="image_not_found">
                                    <span class="item-badge">350,-</span>
                                </a>
                                <div class="item-content">
                                    <h3 class="item-title">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    </h3>
                                    <a href="#!" class="hidden-text">Lorem ipsum dolor sit amet,</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="top-product-item text-center">
                                <a href="#!" class="image-container">
                                    <img src="assets/images/top_products/img_1.jpg" alt="image_not_found">
                                    <span class="item-badge">350,-</span>
                                </a>
                                <div class="item-content">
                                    <h3 class="item-title">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    </h3>
                                    <a href="#!" class="hidden-text">Lorem ipsum dolor sit amet,</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="top-product-item text-center">
                                <a href="#!" class="image-container">
                                    <img src="assets/images/top_products/img_1.jpg" alt="image_not_found">
                                    <span class="item-badge">350,-</span>
                                </a>
                                <div class="item-content">
                                    <h3 class="item-title">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    </h3>
                                    <a href="#!" class="hidden-text">Lorem ipsum dolor sit amet,</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="top-product-item text-center">
                                <a href="#!" class="image-container">
                                    <img src="assets/images/top_products/img_1.jpg" alt="image_not_found">
                                    <span class="item-badge">350,-</span>
                                </a>
                                <div class="item-content">
                                    <h3 class="item-title">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    </h3>
                                    <a href="#!" class="hidden-text">Lorem ipsum dolor sit amet,</a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </section>
            <!-- body-content-section - end
            ================================================== -->
    
    
    
    
    
            <!-- service-section - start
            ================================================== -->
            <section  class="service-section sec-ptb-100 pt-0 clearfix">
                <div class="container">
                    <div class="row">
    
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="service-item-2">
                                <div class="item-icon">
                                    <img src="assets/images/icons/icon_11.png" alt="icon_not_found">
                                </div>
                                <div class="item-content">
                                    <h3 class="item-title">Kwaliteit</h3>
                                    <p class="mb-0">Reparaties van de beste kwaliteit</p>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="service-item-2">
                                <div class="item-icon">
                                    <img src="assets/images/icons/icon_12.png" alt="icon_not_found">
                                </div>
                                <div class="item-content">
                                    <h3 class="item-title">Snelheid</h3>
                                    <p class="mb-0">30 minuten service</p>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="service-item-2">
                                <div class="item-icon">
                                    <img src="assets/images/icons/icon_13.png" alt="icon_not_found">
                                </div>
                                <div class="item-content">
                                    <h3 class="item-title">13.000</h3>
                                    <p class="mb-0">reparaties jaarlijks</p>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="service-item-2">
                                <div class="item-icon">
                                    <img src="assets/images/icons/icon_14.png" alt="icon_not_found">
                                </div>
                                <div class="item-content">
                                    <h3 class="item-title">Garantie</h3>
                                    <p class="mb-0">Garantie op alle reparaties</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- service-section - end
            ================================================== -->

