    <!-- backtotop - start -->
		<div id="thetop"></div>
		<div id="backtotop">
			<a href="#" id="scroll">
				<i class="far fa-arrow-up"></i>
			</a>
		</div>
		<!-- backtotop - end -->

		<!-- preloader - start -->
		<!-- <div id="preloader"></div> -->
		<!-- preloader - end -->

		<!-- repair btn - start -->
		<a href="#!" class="repari-btn">MIJN REPARATIE <i class="fas fa-shopping-cart"></i></a>
		<!-- repair btn - end -->
    
    
    <!-- header-section - start
		================================================== -->
		<header id="header-section" class="header-section sticky-header clearfix d-none d-md-block">
			<div class="header-3">
				<div class="header-top bg-light-gray">
					<div class="container-fluid">
						<div class="contact-info ul-li-right clearfix">
							<ul class="clearfix">
								<li><i class="fas fa-home-lg-alt"></i> info@mobiphone.nl</li>
								<li><i class="fas fa-envelope"></i> info@mobiphone.nl</li>
								<li><i class="fas fa-phone"></i> 0800 45567</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="header-middle bg-default-pink">
					<div class="container-fluid">
						<div class="row">

							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="brand-logo clearfix">
									<a href="#!" class="brand-link float-left">
										<img src="assets/images/logo/logo_1.png" alt="logo_not_found">
									</a>
								</div>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="items-list ul-li-left clearfix">
									<ul class="clearfix">
										<li>
											<div class="form-item">
												<input name="search" type="search" placeholder="Waar ben je naar op zoek?">
												<button type="submit" class="submit-btn"><i class="fal fa-search"></i></button>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-lg-2 col-md-2">
								<div class="items-list ul-li-right clearfix">
									<ul class="clearfix">
										<li>
											<button type="button" class="cart-btn">
												<i class="fas fa-shopping-cart"></i>
											</button>
										</li>
									</ul>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="header-bottom bg-default-pink">
					<div class="container">
						<div class="tab-menu">
							<ul class="nav" role="tablist">
									<li><a  routerLink="/">categorien</a></li>
								<li><a   routerLink="/reparaties">reparaties</a></li>
								<li><a href="#!">zakelijk</a></li>
								<li><a href="#!">contact</a></li>
								<li><a href="#!">over ons</a></li>
							</ul>
						</div>
					</div>
					<div class="tab-content bg-white">
						<div id="categorien-tab" class="tab-pane active">
							<div class="container position-relative">
								<div class="categorien-tab-menu">
									<ul class="nav" role="tablist">
										<li>
											<a data-toggle="tab" href="#smartphones-tab">
												<span class="icon">
													<img src="assets/images/icons/icon_30.png" alt="icon_not_found">
												</span>
												Smartphones
											</a>
										</li>
										<li>
											<a data-toggle="tab" href="#accessories-tab">
												<span class="icon">
													<img src="assets/images/icons/icon_31.png" alt="icon_not_found">
												</span>
												Computers, tablet & laptops
											</a>
										</li>
										<li>
											<a data-toggle="tab" href="#media-tab">
												<span class="icon">
													<img src="assets/images/icons/icon_32.png" alt="icon_not_found">
												</span>
												Beeld & geluid
											</a>
										</li>
										<li>
											<a data-toggle="tab" href="#gaming-tab">
												<span class="icon">
													<img src="assets/images/icons/icon_33.png" alt="icon_not_found">
												</span>
												Gaming
											</a>
										</li>
										<li>
											<a data-toggle="tab" href="#sport-tab">
												<span class="icon">
													<img src="assets/images/icons/icon_34.png" alt="icon_not_found">
												</span>
												Sport & Adventure
											</a>
										</li>
										<li>
											<a data-toggle="tab" href="#household-tab">
												<span class="icon">
													<img src="assets/images/icons/icon_35.png" alt="icon_not_found">
												</span>
												Huishouden
											</a>
										</li>
										<li>
											<a data-toggle="tab" href="#smarthome-tab">
												<span class="icon">
													<img src="assets/images/icons/icon_36.png" alt="icon_not_found">
												</span>
												Smart Home
											</a>
										</li>
										<li>
											<a data-toggle="tab" href="#care-tab">
												<span class="icon">
													<img src="assets/images/icons/icon_37.png" alt="icon_not_found">
												</span>
												Verzorging
											</a>
										</li>
									</ul>
								</div>

								<div class="tab-content">
									<div id="smartphones-tab" class="tab-pane fade">
										<div class="section-title mb-15">
											<h2 class="title-text mb-0"><span class="pink-color text-uppercase">Smartphones</span></h2>
										</div>
										<div class="row">
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Merken</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">iPhones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Unbreakable phones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Sport and Adventure phones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Game Toestellen</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Refurbished</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Redemtion Phones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Nieuwe merken</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Senioren Toestellen</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Hoesjes</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>

									<div id="accessories-tab" class="tab-pane fade">
										<div class="section-title mb-15">
											<h2 class="title-text mb-0"><span class="pink-color text-uppercase">Computers, tablet & laptops</span></h2>
										</div>
										<div class="row">
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Merken</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">iPhones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Unbreakable phones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Sport and Adventure phones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Game Toestellen</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Refurbished</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Redemtion Phones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Nieuwe merken</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Senioren Toestellen</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Hoesjes</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>

									<div id="media-tab" class="tab-pane fade">
										<div class="section-title mb-15">
											<h2 class="title-text mb-0"><span class="pink-color text-uppercase">Beeld & geluid</span></h2>
										</div>
										<div class="row">
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Merken</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">iPhones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Unbreakable phones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Sport and Adventure phones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Game Toestellen</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Refurbished</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Redemtion Phones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Nieuwe merken</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Senioren Toestellen</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Hoesjes</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>

									<div id="gaming-tab" class="tab-pane fade">
										<div class="section-title mb-15">
											<h2 class="title-text mb-0"><span class="pink-color text-uppercase">Gaming</span></h2>
										</div>
										<div class="row">
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Merken</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">iPhones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Unbreakable phones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Sport and Adventure phones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Game Toestellen</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Refurbished</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Redemtion Phones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Nieuwe merken</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Senioren Toestellen</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Hoesjes</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>

									<div id="sport-tab" class="tab-pane fade">
										<div class="section-title mb-15">
											<h2 class="title-text mb-0"><span class="pink-color text-uppercase">Sport & Adventure</span></h2>
										</div>
										<div class="row">
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Merken</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">iPhones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Unbreakable phones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Sport and Adventure phones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Game Toestellen</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Refurbished</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Redemtion Phones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Nieuwe merken</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Senioren Toestellen</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Hoesjes</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>

									<div id="household-tab" class="tab-pane fade">
										<div class="section-title mb-15">
											<h2 class="title-text mb-0"><span class="pink-color text-uppercase">Huishouden</span></h2>
										</div>
										<div class="row">
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Merken</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">iPhones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Unbreakable phones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Sport and Adventure phones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Game Toestellen</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Refurbished</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Redemtion Phones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Nieuwe merken</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Senioren Toestellen</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Hoesjes</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>

									<div id="smarthome-tab" class="tab-pane fade">
										<div class="section-title mb-15">
											<h2 class="title-text mb-0"><span class="pink-color text-uppercase">Smart Home</span></h2>
										</div>
										<div class="row">
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Merken</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">iPhones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Unbreakable phones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Sport and Adventure phones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Game Toestellen</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Refurbished</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Redemtion Phones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Nieuwe merken</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Senioren Toestellen</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Hoesjes</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>

									<div id="care-tab" class="tab-pane fade">
										<div class="section-title mb-15">
											<h2 class="title-text mb-0"><span class="pink-color text-uppercase">Verzorging</span></h2>
										</div>
										<div class="row">
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Merken</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">iPhones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Unbreakable phones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Sport and Adventure phones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Game Toestellen</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Refurbished</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Redemtion Phones</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Nieuwe merken</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Senioren Toestellen</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-12">
												<div class="useful-links ul-li-block clearfix">
													<h3 class="item-title">Hoesjes</h3>
													<ul class="clearfix">
														<li><a href="#!">Subcategorie</a></li>
														<li><a href="#!">Subcategorie</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</header>


            <nav class="navbar navbar-dark navbar-custom d-md-none">

                    <button type="button" class="mobile-menu-btn text-white">
                        <i class="fas fa-bars"></i>
                    </button>

                    <a class="navbar-brand p-0 mx-auto" href="#">
                        <img src="assets/images/logo/logo.png" alt="logo_not_found">
                    </a>

                    <div>
                        <a class="text-white" href="#"><i class="far fa-user-circle fa-lg"></i></a>
                        <a class="text-white" href="#"><i class="fas fa-heart fa-lg"></i></a>
                        <a class="text-white" href="#"><i class="fas fa-shopping-cart fa-lg"></i></a>
                    </div>

            </nav>


		<div class="sidebar-menu-wrapper">
			<div id="sidebar-menu" class="sidebar-menu">

				<div class="sidebar-header">
					<h5>Menu</h5>
				</div>

				<div class="dismiss">
					<span class="close-btn"><i class="fal fa-times"></i></span>
				</div>

				<div class="menu-list ul-li-block mb-60 clearfix">
					<ul class="clearfix p-0">
							<li><a class="active" routerLink="/reparaties">reparaties</a></li>


						<li id="category-menu-list" class="li-white menu-list-2 ul-li-block clearfix">
							<ul class="clearfix">

								<li class="menu-item-has-child">
									<a href="#submenu-1" data-toggle="collapse" aria-expanded="false">
										<img src="assets/images/icons/icon_31.png" alt="Load Failed"> Computers, tablet & laptops</a>
									<div id="submenu-1" class="sub-menu collapse ul-li-block clearfix" data-parent="#category-menu-list">
										<ul class="clearfix">
											<li>
												<a href="#submenu-2.1" data-toggle="collapse" aria-expanded="false">Laptops</a>
												<div id="submenu-2.1" class="sub-menu-2 collapse ul-li-block clearfix">
													<ul class="clearfix">
														<li><a href="#!">Mackbooks</a></li>
														<li><a href="#!">Windows laptops</a></li>
														<li><a href="#!">Gaming laptops</a></li>
														<li><a href="#!">Chromebooks</a></li>
														<li><a href="#!">Zakelijks laptops</a></li>
														<li><a href="#!">Student laptops</a></li>
														<li><a href="#!">Budget laptops</a></li>
														<li><a href="#!">Redemtion laptops</a></li>
													</ul>
												</div>
											</li>
											<li><a href="#!">Tablets</a></li>
											<li><a href="#!">Monitoren</a></li>
											<li><a href="#!">Computer Accessories</a></li>
											<li><a href="#!">Randapparature</a></li>
											<li><a href="#!">Tablet Accessories</a></li>
										</ul>
									</div>
								</li>

								<li class="menu-item-has-child">
									<a href="#submenu-2" data-toggle="collapse" aria-expanded="false">
										<img src="assets/images/icons/icon_30.png" alt="Load Failed"> Smartphones</a>
									<div id="submenu-2" class="sub-menu collapse ul-li-block clearfix" data-parent="#category-menu-list">
										<h3 class="item-title">Merken</h3>
										<ul class="clearfix">
											<li><a href="#!">Subcategorie</a></li>
											<li><a href="#!">Subcategorie</a></li>
											<li><a href="#!">Subcategorie</a></li>
										</ul>
									</div>
								</li>

								<li class="menu-item-has-child">
									<a href="#submenu-3" data-toggle="collapse" aria-expanded="false">
										<img src="assets/images/icons/icon_32.png" alt="Load Failed"> Beeld & geluid</a>
									<div id="submenu-3" class="sub-menu collapse ul-li-block clearfix" data-parent="#category-menu-list">
										<h3 class="item-title">Merken</h3>
										<ul class="clearfix">
											<li><a href="#!">Subcategorie</a></li>
											<li><a href="#!">Subcategorie</a></li>
											<li><a href="#!">Subcategorie</a></li>
										</ul>
									</div>
								</li>

								<li class="menu-item-has-child">
									<a href="#submenu-4" data-toggle="collapse" aria-expanded="false">
										<img src="assets/images/icons/icon_33.png" alt="Load Failed"> Gaming</a>
									<div id="submenu-4" class="sub-menu collapse ul-li-block clearfix" data-parent="#category-menu-list">
										<h3 class="item-title">Merken</h3>
										<ul class="clearfix">
											<li><a href="#!">Subcategorie</a></li>
											<li><a href="#!">Subcategorie</a></li>
											<li><a href="#!">Subcategorie</a></li>
										</ul>
									</div>
								</li>

								<li class="menu-item-has-child">
									<a href="#submenu-5" data-toggle="collapse" aria-expanded="false">
										<img src="assets/images/icons/icon_34.png" alt="Load Failed"> Sport & Adventure</a>
									<div id="submenu-5" class="sub-menu collapse ul-li-block clearfix" data-parent="#category-menu-list">
										<h3 class="item-title">Merken</h3>
										<ul class="clearfix">
											<li><a href="#!">Subcategorie</a></li>
											<li><a href="#!">Subcategorie</a></li>
											<li><a href="#!">Subcategorie</a></li>
										</ul>
									</div>
								</li>

								<li class="menu-item-has-child">
									<a href="#submenu-6" data-toggle="collapse" aria-expanded="false">
										<img src="assets/images/icons/icon_35.png" alt="Load Failed"> Huishouden</a>
									<div id="submenu-6" class="sub-menu collapse ul-li-block clearfix" data-parent="#category-menu-list">
										<h3 class="item-title">Merken</h3>
										<ul class="clearfix">
											<li><a href="#!">Subcategorie</a></li>
											<li><a href="#!">Subcategorie</a></li>
											<li><a href="#!">Subcategorie</a></li>
										</ul>
									</div>
								</li>

								<li class="menu-item-has-child">
									<a href="#submenu-7" data-toggle="collapse" aria-expanded="false">
										<img src="assets/images/icons/icon_36.png" alt="Load Failed"> Smart Home</a>
									<div id="submenu-7" class="sub-menu collapse ul-li-block clearfix" data-parent="#category-menu-list">
										<h3 class="item-title">Merken</h3>
										<ul class="clearfix">
											<li><a href="#!">Subcategorie</a></li>
											<li><a href="#!">Subcategorie</a></li>
											<li><a href="#!">Subcategorie</a></li>
										</ul>
									</div>
								</li>

								<li class="menu-item-has-child">
									<a href="#submenu-8" data-toggle="collapse" aria-expanded="false">
										<img src="assets/images/icons/icon_37.png" alt="Load Failed"> Verzorging</a>
									<div id="submenu-8" class="sub-menu collapse ul-li-block clearfix" data-parent="#category-menu-list">
										<h3 class="item-title">Merken</h3>
										<ul class="clearfix">
											<li><a href="#!">Subcategorie</a></li>
											<li><a href="#!">Subcategorie</a></li>
											<li><a href="#!">Subcategorie</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</li>

						<li><a href="#!">Over Ons</a></li>
						<li><a href="#!">Contact</a></li>

						<li class="li-white"><a href="#">Winkels</a></li>
						<li class="li-white"><a href="#">Zakelijks</a></li>

						<li class="li-white"><a href="#"><img class="rounded-circle" src="assets/images/flags/uk.png" alt="flags"> English</a></li>
						<li class="li-white"><a href="#"><img class="rounded-circle" src="assets/images/flags/france.png" alt="flags"> French</a></li>
						<li class="li-white"><a href="#"><img class="rounded-circle" src="assets/images/flags/german.png" alt="flags"> German</a></li>

					</ul>
				</div>

			</div>
			<div class="overlay"></div>
		</div>
		<!-- header-section - end
		================================================== -->