	<!-- footer-section - start
		================================================== -->
		<footer id="footer-section" class="footer-section sec-ptb-100 pt-0 clearfix">

			<div class="footer-content mb-60">
				<div class="container">
					<div class="row justify-content-lg-between">
						<div class="col-lg-6 col-md-12 col-sm-12">
							<div class="row">

								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="useful-links ul-li-block clearfix">
										<div class="title-text">DIENSTEN</div>
										<ul class="clearfix">
											<li><a href="#!">Iphone reparatie</a></li>
											<li><a href="#!">Samsung reparatie</a></li>
											<li><a href="#!">Huawei reparatie</a></li>
											<li><a href="#!">Sony reparatie</a></li>
											<li><a href="#!">Tablet reparatie</a></li>
											<li><a href="#!">Laptop reparatie</a></li>
											<li><a href="#!">Moederbord reparatie</a></li>
										</ul>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="useful-links ul-li-block mb-60 clearfix">
										<div class="title-text">OVER ONS</div>
										<ul class="clearfix">
											<li><a href="#!">Contact</a></li>
											<li><a href="#!">Blog</a></li>
											<li><a href="#!">Over ons</a></li>
											<li><a href="#!">Werken bij ROS</a></li>
										</ul>
									</div>

									<div class="social-links ul-li clearfix">
										<ul class="clearfix">
											<li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
											<li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="#!"><i class="fab fa-twitter"></i></a></li>
											<li><a href="#!"><i class="fab fa-youtube"></i></a></li>
										</ul>
									</div>
								</div>
								
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="container">
				<div class="footer-bottom">

					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="footer-menu ul-li clearfix">
								<ul class="clearfix">
									<li><a href="#!">Algemene voorwaarden</a></li>
									<li><a href="#!">Privacy statement</a></li>
								</ul>
							</div>
						</div>

						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="payment-card">
								<img src="assets/images/card.png" alt="image_not_found">
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="bottom-deco-bg" style="background-image: url(assets/images/bg-shape-6.png);"></div>
		</footer>
		<!-- footer-section - end
		================================================== -->