<!-- body-content-section - start
		================================================== -->
		<section id="body-content-section" class="body-content-section clearfix">
                <div class="container">
    
                    <div class="step-nav ul-li sec-ptb-100 pb-0 clearfix">
                        <ul>
                            <li class="active">
                                <a href="#!">
                                    <span class="serial-number">1</span>
                                    Model keuze
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    <span class="serial-number">2</span>
                                    Merk keuze
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    <span class="serial-number">3</span>
                                    Device keuze
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    <span class="serial-number">4</span>
                                    Reparatietype
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    <span class="serial-number">5</span>
                                    Plan afspraak
                                </a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="conetnt-wrap mb-60">
                        <div class="search-box position-relative mb-100">
                            <span class="instruction-image-1">
                                <img src="assets/images/instruction_1.jpg" alt="image_not_found">
                            </span>
                            <div class="section-title mb-30">
                                <h3 class="title-text mb-0">Zoek jouw device</h3>
                            </div>
                            <div class="form-item">
                                <input id="search-input" type="search" placeholder="Bijv. iPhone 8">
                                <label for="search-input" class="form-item-btn"><i class="far fa-search"></i></label>
                            </div>
                        </div>
    
                        <div class="divice-type mb-100 ul-li clearfix">
                            <div class="section-title mb-60">
                                <h3 class="title-text mb-15">Of kies hier je type apparaat</h3>
                                <p class="sub-title mb-0">Selecteer hieronder welk type apparaat je wil laten repareren</p>
                            </div>
                            <ul class="clearfix">
                                <li>
                                    <div class="divice-item text-center">
                                        <div class="icon">
                                            <img src="assets/images/icons/icon_1.png" alt="icon_not_found">
                                        </div>
                                        <h4 class="title-text mb-0">Mobile</h4>
                                    </div>
                                </li>
                                <li>
                                    <div class="divice-item text-center">
                                        <div class="icon">
                                            <img src="assets/images/icons/icon_2.png" alt="icon_not_found">
                                        </div>
                                        <h4 class="title-text mb-0">Tablet</h4>
                                    </div>
                                </li>
                                <li>
                                    <div class="divice-item text-center">
                                        <div class="icon">
                                            <img src="assets/images/icons/icon_3.png" alt="icon_not_found">
                                        </div>
                                        <h4 class="title-text mb-0">Desktop</h4>
                                    </div>
                                </li>
                                <li>
                                    <div class="divice-item text-center">
                                        <div class="icon">
                                            <img src="assets/images/icons/icon_4.png" alt="icon_not_found">
                                        </div>
                                        <h4 class="title-text mb-0">Mac</h4>
                                    </div>
                                </li>
                            </ul>
                        </div>
    
                        <div class="most-chosen-type">
                            <div class="section-title mb-60">
                                <h3 class="title-text mb-15">Meest gekozen type reparatie</h3>
                                <p class="sub-title mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="repairs-items-list ul-li-block clearfix">
                                        <h4 class="item-title mb-30">
                                            <span class="icon"><img src="assets/images/icons/icon_5.png" alt="icon_not_found"></span>
                                            Scherm
                                        </h4>
                                        <ul class="clearfix">
                                            <li><a href="#!">Iphone scherm reparatie</a></li>
                                            <li><a href="#!">Samsung scherm reparatie</a></li>
                                            <li><a href="#!">Huawei scherm reparatie</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="repairs-items-list ul-li-block clearfix">
                                        <h4 class="item-title mb-30">
                                            <span class="icon"><img src="assets/images/icons/icon_6.png" alt="icon_not_found"></span>
                                            Batterij
                                        </h4>
                                        <ul class="clearfix">
                                            <li><a href="#!">Iphone scherm reparatie</a></li>
                                            <li><a href="#!">Samsung scherm reparatie</a></li>
                                            <li><a href="#!">Huawei scherm reparatie</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="repairs-items-list ul-li-block clearfix">
                                        <h4 class="item-title mb-30">
                                            <span class="icon"><img src="assets/images/icons/icon_7.png" alt="icon_not_found"></span>
                                            Camera
                                        </h4>
                                        <ul class="clearfix">
                                            <li><a href="#!">Iphone scherm reparatie</a></li>
                                            <li><a href="#!">Samsung scherm reparatie</a></li>
                                            <li><a href="#!">Huawei scherm reparatie</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="conetnt-wrap">
                        <div class="section-title mb-60 position-relative">
                            <h3 class="title-text mb-0">FAQ</h3>
                            <span class="instruction-image-2">
                                <img src="assets/images/instruction_2.jpg" alt="image_not_found">
                            </span>
                        </div>
                        <div class="accordion-container">
                            <div id="faq-accordion" class="faq-accordion">
                                <div class="card">
                                    <div class="card-header" id="heading-1">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                                            Wat valt er onder de aangeboden garantie?
                                        </button>
                                    </div>
    
                                    <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#faq-accordion">
                                        <div class="card-body">
                                            <p class="mb-0">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="heading-2">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                            Wordt deze reparatie gedekt door mijn huidige verzekering?
                                        </button>
                                    </div>
                                    <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#faq-accordion">
                                        <div class="card-body">
                                            <p class="mb-0">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="heading-3">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                            alt deze reparatie onder de fabrieksgarantie?
                                        </button>
                                    </div>
                                    <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#faq-accordion">
                                        <div class="card-body">
                                            <p class="mb-0">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="heading-4">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                                Wat is het verschil tussen origineel en replica?
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#faq-accordion">
                                        <div class="card-body">
                                            <p class="mb-0">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="cat-image">
                        <img src="assets/images/cat_2.png" alt="image_not_found">
                    </div>
    
                </div>
            </section>
            <!-- body-content-section - end
            ================================================== -->
    
    
    
    
    
            <!-- service-section - start
            ================================================== -->
            <section class="service-section sec-ptb-100 clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="service-item">
                                <div class="title-wrap clearfix mb-30">
                                    <span class="icon">
                                        <img src="assets/images/icons/icon_8.png" alt="icon_not_found">
                                    </span>
                                    <h3 class="title-text mb-0">Goed beoordeeld door klanten</h3>
                                </div>
                                <p class="mb-0">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                                </p>
                            </div>
                        </div>
    
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="service-item">
                                <div class="title-wrap clearfix mb-30">
                                    <span class="icon">
                                        <img src="assets/images/icons/icon_9.png" alt="icon_not_found">
                                    </span>
                                    <h3 class="title-text mb-0">De beste reparaties voor de beste prijs</h3>
                                </div>
                                <p class="mb-0">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                                </p>
                            </div>
                        </div>
    
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="service-item">
                                <div class="title-wrap clearfix mb-30">
                                    <span class="icon">
                                        <img src="assets/images/icons/icon_10.png" alt="icon_not_found">
                                    </span>
                                    <h3 class="title-text mb-0">Gefixed in no-time 30 minuten service</h3>
                                </div>
                                <p class="mb-0">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- service-section - end
            ================================================== -->
    
    
    
    
    
            <!-- client-section - start
            ================================================== -->
            <section id="client-section" class="client-section sec-ptb-100 pt-0 clearfix">
                <div class="container">
                    <div class="section-title text-center mb-60">
                        <h3 class="title-text mb-15">Lorem ipsum dolor sit amet</h3>
                        <p class="mb-0">ivamus fermentum finibus nulla, at imperdiet arcu luctus scelerisque.</p>
                    </div>
                    <div class="client-logo ul-li clearfix">
                        <ul class="clearfix">
                            <li><a href="#!"><img src="assets/images/client/logo_img_1.png" alt="logo_not_found"></a></li>
                            <li><a href="#!"><img src="assets/images/client/logo_img_2.png" alt="logo_not_found"></a></li>
                            <li><a href="#!"><img src="assets/images/client/logo_img_3.png" alt="logo_not_found"></a></li>
                            <li><a href="#!"><img src="assets/images/client/logo_img_4.png" alt="logo_not_found"></a></li>
                            <li><a href="#!"><img src="assets/images/client/logo_img_5.png" alt="logo_not_found"></a></li>
                            <li><a href="#!"><img src="assets/images/client/logo_img_6.png" alt="logo_not_found"></a></li>
                        </ul>
                        <ul class="clearfix">
                            <li><a href="#!"><img src="assets/images/client/logo_img_7.png" alt="logo_not_found"></a></li>
                            <li><a href="#!"><img src="assets/images/client/logo_img_8.png" alt="logo_not_found"></a></li>
                            <li><a href="#!"><img src="assets/images/client/logo_img_9.png" alt="logo_not_found"></a></li>
                            <li><a href="#!"><img src="assets/images/client/logo_img_10.png" alt="logo_not_found"></a></li>
                            <li><a href="#!"><img src="assets/images/client/logo_img_11.png" alt="logo_not_found"></a></li>
                            <li><a href="#!"><img src="assets/images/client/logo_img_12.png" alt="logo_not_found"></a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- client-section - end
            ================================================== -->
    
    
    
    
    
            <!-- service-section - start
            ================================================== -->
            <section class="service-section sec-ptb-100 pt-0 clearfix">
                <div class="container">
                    <div class="row">
    
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="service-item-2">
                                <div class="item-icon">
                                    <img src="assets/images/icons/icon_11.png" alt="icon_not_found">
                                </div>
                                <div class="item-content">
                                    <h3 class="item-title">Kwaliteit</h3>
                                    <p class="mb-0">Reparaties van de beste kwaliteit</p>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="service-item-2">
                                <div class="item-icon">
                                    <img src="assets/images/icons/icon_12.png" alt="icon_not_found">
                                </div>
                                <div class="item-content">
                                    <h3 class="item-title">Snelheid</h3>
                                    <p class="mb-0">30 minuten service</p>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="service-item-2">
                                <div class="item-icon">
                                    <img src="assets/images/icons/icon_13.png" alt="icon_not_found">
                                </div>
                                <div class="item-content">
                                    <h3 class="item-title">13.000</h3>
                                    <p class="mb-0">reparaties jaarlijks</p>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="service-item-2">
                                <div class="item-icon">
                                    <img src="assets/images/icons/icon_14.png" alt="icon_not_found">
                                </div>
                                <div class="item-content">
                                    <h3 class="item-title">Garantie</h3>
                                    <p class="mb-0">Garantie op alle reparaties</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- service-section - end
            ================================================== -->